a {
  cursor: pointer;
}

.bg-secondary {
  background-color: #2c3e50 !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #1a252f !important;
}

.text-white {
  color: white !important;
}

/* Icono de menu */

.menu-logo-circulo {
  display: block;
  width: 20px;
  height: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #33d9b2;
  margin: 0;
  padding: 0;
}

/* Navbar */


#main-nav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
}

#main-nav .navbar-brand {
  color: #fff;
}

#main-nav .navbar-nav {
  margin-top: 1rem;
}

#main-nav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

#main-nav .navbar-nav li.nav-item a.nav-link:hover {
  color: #33d9b2;
}

#main-nav .navbar-nav li.nav-item a.nav-link:active, #main-nav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}

#main-nav .navbar-nav li.nav-item a.nav-link.active {
  color: #33d9b2;
}

#main-nav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

@media (min-width: 992px) {
  #main-nav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }

  #main-nav .navbar-brand {
    font-size: 1.75em;
    transition: font-size 0.3s;
  }

  #main-nav .navbar-nav {
    margin-top: 0;
  }

  #main-nav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #33d9b2;
  }

  #main-nav .navbar-nav > li.nav-item > a.nav-link.active:active, #main-nav .navbar-nav > li.nav-item > a.nav-link.active:focus, #main-nav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #33d9b2;
  }

  #main-nav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  #main-nav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}