
<div class="container my-4">
    <div class="row">

        <div class="col-md-5 col-lg-4 mb-4 mx-auto" *ngFor="let p of productos; let i = index;">
    
            <div class="card border-0 d-block mx-auto">
                <div class="head-producto mx-auto">

                    <div class="acciones-principal h-100 w-100" (click)="verProducto(i)">

                        <div class="mt-2 mr-2 d-block">
        
                            <button (click)="agregarMiLista()" class="btn btn-agregar btn-lista">
                                <img src="../../../../../assets/icon/mi-lista.png" alt="Producto imagen" class="img-icon">
                            </button>
        
                        </div>
        
                    </div>
                
                    <img src="{{ PS.getImgProd(p.ima_url) }}" class="card-img-top img-producto " alt="... ">
                    
                </div>


                <div class="foot-producto mx-auto">
                    <h5 class="mb-0">{{ p.prod_nombre }}</h5>
    
                    <div class="row">
    
                        <div class="col">
    
                            <p class="calificacion-general calificacion-total mb-0">
                                <input id="est{{i}}-5" type="radio" name="estrella{{i}}" disabled>
                                <label >&#9733;</label>
                                <input id="est{{i}}-4" type="radio" name="estrella{{i}}" disabled>
                                <label >&#9733;</label>
                                <input id="est{{i}}-3" type="radio" name="estrella{{i}}" disabled>
                                <label >&#9733;</label>
                                <input id="est{{i}}-2" type="radio" name="estrella{{i}}" disabled>
                                <label >&#9733;</label>
                                <input id="est{{i}}-1" type="radio" name="estrella{{i}}" disabled>
                                <label >&#9733;</label>
                                <!-- ESTO SE REPITE CADA QUE HAGO SCROLL -->
                                {{ seleccionarEstrella(i, p.calificacion) }}
                            </p>
    
                        </div>
    
                    </div>
    
    
                    <div class="row pb-3">
    
    
                        <div class="col-7 d-flex">
                            <h5 class="mb-0 my-auto precio-general" >$ {{ p.prod_precio_venta }}</h5>
                        </div>
    
    
                        <div class="col-5 ">
    
                            <div class="input-group">
                                <input type="text" class="form-control num-producto" value="1">
                                <div class="input-group-append">
                                <button type="button" name="button" class="btn btn-agregar btn-carro">
                                    <img src="../../../../../assets/icon/mi-carrito.png" alt="" class="img-icon">
                                </button>
                                </div>
                            </div>
    
                        </div>
    
                    </div>
    
                </div>
                

            </div>
    
        </div>
    
    </div>
</div>