<!-- CARRUSEL PRINCIPAL -->

<header class="text-center">

    <div class="row no-gutters">
      <div class="col">

        <div id="carousel-inicio" class="carousel slide w-100" data-ride="carousel">

          <div class="carousel-inner">

            <div class="carousel-item active">
              <img src="../../../../assets/img/slide1.png" class="d-block w-100 carousel-img" alt="...">

              <div class="py-3 bg-pri text-white">
                <a class="carrusel-subheading text-uppercase mb-0" [routerLink]="['registrarse']">Registrarme</a>
              </div>

            </div>

            <div class="carousel-item" *ngFor="let p of PSS; let i = index;">
              <img src="{{ getImgSlide(p.ima_url) }}" class="d-block w-100 carousel-img" alt="...">
          
              <div class="py-3 bg-pri text-white">
                <a class="carrusel-subheading text-uppercase mb-0"> {{p.prod_nombre}} </a>
              </div>
          
            </div>

          </div>

          <a class="carousel-control-prev" href="#carousel-inicio" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="carousel-control-next" href="#carousel-inicio" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
          </a>

        </div>
      </div>


    </div>


</header>

<!--CATEGORIAS-->
<div class="divider-custom">
  <div class="divider-custom-line"></div>
  <div class="divider-custom-icon">
    <a [routerLink]="['categorias']" class="section-title text-uppercase">CATEGORIAS</a>
  </div>
  <div class="divider-custom-line"></div>
</div>

<app-categorias [tipo]="'home'"></app-categorias>

<!-- PRODUCTOS -->
<div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon">
        <a [routerLink]="['productos']" class="section-title text-uppercase">Productos</a>
    </div>
    <div class="divider-custom-line"></div>
</div>

<app-producto-shop [tipo]="'home'"></app-producto-shop>
