
<div class="container my-5">

  <table class="table" id="tablita">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Cantidad</th>
        <th>Fecha</th>
        <th>Subtotal sin iva</th>
        <th>Subtotal con iva</th>
        <th>Iva</th>
        <th>Total</th>
        <th>Reporte</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let v of ventas; let i = index;">
        <th scope="col">{{i + 1}}</th>
        <td>{{v.num_productos}}</td>
        <td>{{v.vent_fecha_ingreso}}</td>
        <td>{{v.vent_subtotal_sin_iva}}</td>
        <td>{{v.vent_subtotal_iva}}</td>
        <td>{{v.vent_total_iva}}</td>
        <td>{{v.vent_total}}</td>
        <td>
          <button (click)="imprimir(v)" class="btn bg-pri text-white text-center btn-block">
            Imprimir
          </button>
        </td>
      </tr>
    </tbody>

  </table>

</div>