<footer class="footer text-center mt-2">
    <div class="container">
      <div class="row">

        <!-- Localizacion -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Desarrollo</h4>
          <p class="lead mb-0">Desarrollado en la institución:
            <br> <strong>Instituto Superior Tecnológico del Azuay</strong>
          </p>
        </div>
        <!-- Redes Sociales -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Redes Sociales</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="#" target="_black">
            <span>F</span>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#" target="_black">
            <span>T</span>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#" target="_black">
            <span>I</span>
          </a>
        </div>

        <!-- Informacion -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">Shop Shop ISTA</h4>
          <p class="lead mb-0">Ecomerce para la ciudad de <br> Cuenca - Ecuador.</p>
        </div>

      </div>
    </div>
  </footer>


    <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Team Shop Shop 2019</small>
    </div>
  </section>