<div class="container">
    <div class="row">
        <div class="col-md-8 m-3">

            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Vendedor</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Máximo de Edad</th>
                        <th scope="col">Mínimo de Edad</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                        <th scope="col">Asignación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of listaProductos" class="border-dark">
                        <td> {{ producto.id_producto }} </td>
                        <td>{{ producto.id_vendedor }}</td>
                        <td>{{ producto.id_marca}}</td>
                        <td> {{ producto.prod_nombre }} </td>
                        <td> {{ producto.prod_descripcion }} </td>
                        <!--<td> {{ producto.prod_fecha_ingreso | date:'y - MMMM - dd' }} </td>-->
                        <td>prue</td>
                        <td>{{ producto.prod_restriccion_edad_max}}</td>
                        <td> {{ producto.prod_restriccion_edad_min}} </td>
                        <td>{{ producto.prod_stock_total }}</td>
                        <td>{{ producto.prod_precio_venta}}</td>
                        <td> <a class="btn btn-primary" routerLink="/productos/guardar/{{producto.id_producto}}">Editar</a> </td>
                        <td> <button class="btn btn-primary">Eliminar</button> </td>
                        <td> <a class="btn btn-primary" routerLink="/categorias/asignar/{{producto.id_producto}}">Asignar Categorías</a> </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>