<div class="container">
    <br><br>
    <h4>Cambiar Contraseña</h4>     
    <form>
        <div class="col-5">
            <div class="form-group">
                <label for="exampleInputPassword1">Nueva contraseña:</label>
                <input [(ngModel)]="nuevaContrasena1" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
            </div>
         </div>
        <div class="col-5">
            <div class="form-group">
                <label for="exampleInputPassword2">Ingresa la misma contraseña:</label>
                <input [(ngModel)]="nuevaContrasena2" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="exampleInputPassword2" placeholder="Contraseña">
            </div>
        </div>
        <div class="col-3">
                <button (click)="actualizar()" class="btn bg-pri text-white text-center btn-block">
                    Cambiar contraseña
                </button>
        </div>
    </form>

</div>

