.img-recomendacion {
    width: 120px;
    height: 75px;
    margin: auto;
}

.img-precio {
    width: 120px;
    margin: auto;
    background-color: #f1f2f6;
    padding: 2px 4px;
    border-bottom: solid 3px #33d9b2;
}

.recomendacion {
    position: fixed;
    float: right;
}