.img-recomendacion {
    width: 120px;
    height: 75px;
    margin: auto;
}

.img-precio {
    width: 120px;
    margin: auto;
    background-color: #33d9b2;
    padding: 2px 4px;
}

.recomendacion {
    position: fixed;
    float: right;
}