.img-recomendacion {
    cursor: pointer;
    width: 120px;
    height: 75px;
    margin: auto;
}

.img-precio {
    width: 120px;
    margin: auto;
    background-color: #f1f2f6;
    padding: 2px 4px;
    border-bottom: solid 3px #33d9b2;
}

.precio-general {
    border-left: solid 6px #33d9b2;
    padding-left: 6px;
}
