<div class="bg-info">
    <div class="container">
        <div class="text-center text-white h2 py-2">
            Shop Shop - Public
        </div>
    </div>
</div>

<router-outlet></router-outlet>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Shop Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" routerLinkActive = "active">
          <a class="nav-link" routerLink="productos">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="productos/guardar">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container m-3">
    <div class="row">
        <div class="col">
                <router-outlet></router-outlet>
        </div>
    </div>
    
</div>

<!-- <app-producto-shop></app-producto-shop> -->