.form-login {
  border-top: solid 10px #33d9b2;
  border-bottom: solid 10px #33d9b2;
}

.login-logo-circulo {
  width: 450px;
  height: 450px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.mi-shadow {
  -webkit-box-shadow: inset -13px 13px 17px -15px rgba(48,57,82,1);
  -moz-box-shadow: inset -13px 13px 17px -15px rgba(48,57,82,1);
  box-shadow: inset -13px 13px 17px -15px rgba(48,57,82,1);
}