<div id="inferior" class="mb-4">
    <div class="ml-auto d-flex">
        <h4 class="mb-2 d-flex mt-2 mr-4 ml-auto text-white">
        <span class="badge bg-pri py-2 px-3">$ {{total}} </span>
        </h4>
    </div>
    <div id="circulo-carro" class="circulo ml-auto mr-4 d-flex bg-pri" data-toggle="modal" data-target="#carro-modal" (click)="actualizarCarro()">
        <img id="img-carro" class="img-cart m-auto" src="../../../../assets/icon/cart.png" alt="">
    </div>
</div>


<!-- CARRO -->

<div class="carro-modal modal fade" id="carro-modal" tabindex="-1" role="dialog" aria-labelledby="carro-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
    
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
            <span class="text-pri">X</span>
            </span>
        </button>
    
        <div class="modal-body">
            
            <div class="row justify-content-center">
                <div class="col-lg-10">
    
                <!-- Icon Divider -->
                <h2 class="carro-modal-title text-center text-pri text-uppercase mt-2 mb-3">
                    Pedido
                </h2>
    
                <hr class="separador-pri w-100">
    
    
                <div class="row">
    
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="row">
        
                            <div class="col-6 col-md-12">
                            <h3 class="text-title-carro">Sub total sin iva:</h3>
                            </div>
        
                            <div class="col-6 col-md-12">
                            <h4 class="text-subtitule-carro">$ {{ subTotalSI }}</h4>
                            </div>
        
                        </div>
                    </div>


                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="row">
        
                            <div class="col-6 col-md-12">
                            <h3 class="text-title-carro">Sub total con iva:</h3>
                            </div>
        
                            <div class="col-6 col-md-12">
                            <h4 class="text-subtitule-carro">$ {{ subTotalI }} </h4>
                            </div>
        
                        </div>
                    </div>
    
    
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="row">
        
                            <div class="col-6 col-md-12">
                            <h3 class="text-title-carro">Iva:</h3>
                            </div>
        
                            <div class="col-6 col-md-12">
                            <h4 class="text-subtitule-carro">$ {{ iva }} </h4>
                            </div>
        
                        </div>
                    </div>
    
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="row">
                            <div class="col-6 col-md-12">
                            <h3 class="text-title-carro">Total:</h3>
                            </div>
        
                            <div class="col-6 col-md-12">
                            <h4 class="text-subtitule-carro">$ {{ total }} </h4>
                            </div>
                        </div>
                    </div>
    
                </div>
    
                
                <div class="container">
                        <div class="divider-custom">
                            <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <a class="section-title text-uppercase">Productos</a>
                                </div>
                            <div class="divider-custom-line"></div>
                        </div>
            
                        <div class="row">
            
                            <div class="col-12" *ngFor="let p of productos; let i = index">


                                <div class="row no-gutters">
                                    <div class="col-4 d-flex">
                                        <img class="img-carro rounded mb-4 mx-auto" src="{{PS.getImgProd(p.ima_url)}}" alt="">
                                    </div>
                
                                    <div class="col-8">

                                        <div class="col-12">
                                            <h5 class="text-title-carro d-inline-block"> Producto:</h5>
                                            <h6 class="text-subtitule-carro d-inline-block"> {{p.prod_nombre}} </h6>
                                        </div>
                
                                        <div class="col-12">
                                            <h5 class="text-title-carro d-inline-block"> Cantidad:</h5>
                                            <h6 class="text-subtitule-carro d-inline-block"> {{p.cantidad}} </h6>
                                        </div>
                    
                                        <div class="col-12">
                                            <h5 class="text-title-carro d-inline-block"> Total:</h5>
                                            <h6 class="text-subtitule-carro d-inline-block">$ {{p.total}} </h6>
                                        </div>
                
                                    </div>
                                </div>
            
                            </div>
            
                        </div>
                </div>
    
    
                </div>
            </div>
            
        </div>
        </div>
    </div>
</div>
    
    