<div class="container my-2">

    <div class="row categoria">

        <div class="col-sm-5 col-md-4 col-lg-3 col-xl-2 mx-auto" *ngFor="let p of categorias(maximo); let i = index;">
            <div class="d-flex h-100 w-100">
                <div class="m-auto">

                <div class="categoria">

                    <div class="categoria-item mx-auto py-1 px-3">

                        <h5 class="mb-0 py-3 text-center">TECNOLOGIA</h5>

                        <div class="categoria-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="categoria-item-caption-content text-center text-white">
                                <a class="big-plus my-auto">+</a>
                            </div>
                        </div>
                        <!--
                        <img class="img-fluid mx-auto" src="https://image.flaticon.com/icons/png/512/22/22819.png" alt="">
                        -->
                    </div>

                </div>

                </div>

            </div>
        </div>

    </div>

</div>


