
.categoria .categoria-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    margin-bottom: 30px;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  
  .categoria .categoria-item .categoria-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: rgba(48, 57, 82, 0.8);
  }
  
  .categoria .categoria-item .categoria-item-caption:hover {
    opacity: 1;
  }
  
  .categoria .categoria-item .categoria-item-caption .categoria-item-caption-content {
    font-size: 1.5rem;
  }
  
  .big-plus {
    font-size: 9.5rem;
    color: white;
  }
  
  .big-plus:hover {
    color: white;
    text-decoration: none;
  }
  
  .img-fluid {
    max-width: 100%;
    height: 140px;
  }
  