<!-- Titulo de la seccion -->
<div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon">
      <a href="#" class="section-title">CATEGORIAS</a>
    </div>
    <div class="divider-custom-line"></div>
</div>

<div class="container my-2">

    <div class="row categoria">

        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 mx-auto">
        <div class="d-flex h-100 w-100">
            <div class="m-auto">

            <div class="categoria">

                <div class="categoria-item mx-auto py-2 px-5">

                    <h3 class="mb-0 py-3 text-center">TECNOLOGIA</h3>

                    <div class="categoria-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="categoria-item-caption-content text-center text-white">
                        <a href="#" class="big-plus">+</a>
                    </div>
                    </div>
                    <img class="img-fluid" src="https://image.flaticon.com/icons/png/512/22/22819.png" alt="">
                </div>

            </div>

            </div>

        </div>
        </div>

        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 mx-auto">
        <div class="d-flex h-100 w-100">
            <div class="m-auto">

            <div class="categoria">

                <div class="categoria-item mx-auto py-2 px-5">

                    <h3 class="mb-0 py-3 text-center">TECNOLOGIA</h3>

                    <div class="categoria-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="categoria-item-caption-content text-center text-white">
                        <a href="#" class="big-plus">+</a>
                    </div>
                    </div>
                    <img class="img-fluid" src="https://image.flaticon.com/icons/png/512/22/22819.png" alt="">
                </div>

            </div>

            </div>

        </div>
        </div>

        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 mx-auto">
        <div class="d-flex h-100 w-100">
            <div class="m-auto">

            <div class="categoria">

                <div class="categoria-item mx-auto py-2 px-5">

                    <h3 class="mb-0 py-3 text-center">TECNOLOGIA</h3>

                    <div class="categoria-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="categoria-item-caption-content text-center text-white">
                        <a href="#" class="big-plus">+</a>
                    </div>
                    </div>
                    <img class="img-fluid" src="https://image.flaticon.com/icons/png/512/22/22819.png" alt="">
                </div>

            </div>

            </div>

        </div>
        </div>

        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 mx-auto">
        <div class="d-flex h-100 w-100">
            <div class="m-auto">

            <div class="categoria">

                <div class="categoria-item mx-auto py-2 px-5">

                    <h3 class="mb-0 py-3 text-center">TECNOLOGIA</h3>

                    <div class="categoria-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="categoria-item-caption-content text-center text-white">
                        <a href="#" class="big-plus">+</a>
                    </div>
                    </div>
                    <img class="img-fluid" src="https://image.flaticon.com/icons/png/512/22/22819.png" alt="">
                </div>

            </div>

            </div>

        </div>
        </div>

    </div>

</div>

