.bg-pri {
  background-color: #303952 !important;
}

a.bg-pri:hover, a.bg-pri:focus,
button.bg-pri:hover,
button.bg-pri:focus {
  background-color: #596275 !important;
}


/* SEPARADOR */

.section-title {
  font-size: 2.3rem;
  color: #33d9b2;
}

.section-title:hover {
  text-decoration: none;
  color: white;
  padding: 3px 8px;
  border-radius: 4px;
  background-color: #33d9b2;
}

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}


.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 10rem;
  height: 0.35rem;
  background-color: #33d9b2;
  border-radius: 1rem;
  border-color: #33d9b2 !important;
}

.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}

.divider-custom .divider-custom-icon {
  color: #2c3e50 !important;
  font-size: 2rem;
}

.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}

.divider-custom.divider-light .divider-custom-icon {
  color: #fff !important;
}

/* SEPARADOR */